
#parenDiv{
	border: 1px solid black;
	height: 125px;
	width: 244px;
}
.btn{
	width: 30px;
	height: 25px;
	position: relative;
	left: 50px;

}
#text{
	text-align: right;
	width: 240px;
	height: 19px;
}
#clear{
	width: 30px;
	height: 25px;
	position: absolute;
	
}